<body>
	<section style="margin-top:3%" class="container-fluid">
			<div class="row">
				<div class="">
					<%= image_tag "fondo.png", class: 'col-xs-12 col-sm-6 col-md-5'%>
				</div>

				<article class="col-xs-12 col-sm-6 col-md-7 articulo">
					<blockquote class="blockquote-reverse">
					  <p class="text-justify scrollflow -slide-left -opacity" style="font-family: 'Lobster', cursive; font-size:22px;">
					  		<em>
					  			<strong>
					  				Un hombre no está bien hasta que sea feliz, sano, y próspero; y la felicidad, la salud, y la prosperidad son el resultado de un ajuste armonioso del interior con el exterior del hombre.
					  			</strong>
					  		</em>
					  </p>
					  <footer><cite title="Source Title">James Allen</cite></footer>
					</blockquote>
				</article>

			</div>

			<div class="container scrollflow -slide-top -opacity">
				<div class="row">
					<div class="page-header">
	  					<h1><em>Nuestros servicios:	</em></h1>
					</div>
					<br>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<%= image_tag "cirugia.jpg", class: 'img-circle img-responsive'%>
						<h3><em><strong>Cirugías menores</strong></em></h3>
						<p class="scrollflow -slide-right -opacity text-left" style="margin-top:1%;">
							Procedimientos quirúrgicos sencillos y generalmente de corta duración, realizados sobre tejidos superficiales y/o estructuras fácilmente accesibles, bajo anestesia local, que tienen bajo riesgo y tras los que no son esperables complicaciones postquirúrgicas significativas.
						</p>
					</div>
					

					<div class="col-xs-4 col-sm-4 col-md-4">
						<%= image_tag "farmacia.JPG", class: 'img-circle img-responsive'%>
						<h3><em><strong>Farmacia</strong></em></h3>
						<p class="scrollflow -slide-top -opacity" style="margin-top:1%;">
							 Evaluamos los efectos de los fármacos en la especie humana. Esta evaluación se centra en la relación entre los efectos terapéuticos (beneficios), los efectos indeseables (riesgos) y los costes de las intervenciones terapéuticas e incluye la eficacia, seguridad, efectividad y eficiencia. 
						</p>
					</div>


					<div class="col-xs-4 col-sm-4 col-md-4">
						<%= image_tag "valoracion.jpg", class: 'img-circle img-responsive'%>
						<h3><em><strong>Servicio de diagnóstico</strong></em></h3>
						<p class="scrollflow -slide-left -opacity">
							Implementamos las mejores técnicas y equipos de punta para la evaluación y diagnóstico de nuestros pacientes. 
						</p>
					</div>
					
									
				</div>	
			</div>

			<div class="container scrollflow -slide-top -opacity">
				<div class="row">
					<div class="page-header">
	  					<h1><em>Especialidades:</em></h1>
					</div>
					<br>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<%= image_tag "ginecologia3.jpg", class: 'img-circle img-responsive'%>	
						<h3><em><strong>Ginecología y Obstetricia</strong></em></h3>
						<p class="scrollflow -slide-right -opacity" style="margin-top:1%;">
							Estudiamos y profundizamos todos los aspectos médicos y quirúrgicos relacionados con el tracto genital femenino y los eventos relacionados con el embarazo, parto y puerperio.
						</p>
					</div>
					

					<div class="col-xs-4 col-sm-4 col-md-4">
						<%= image_tag "minterna.jpg", class: 'img-circle img-responsive'%>		
						<h3><em><strong>Medicina Interna</strong></em></h3>
						<p class="scrollflow -slide-top -opacity" style="margin-top:1%;">
							Ofrecemos la mejor atención integral, conservando la visión global del enfermo y siendo referente ante enfermedades específicas. Dedicados al estudio, diagnóstico y tratamiento de las enfermedades propias del adulto. 
						</p>
					</div>


					<div class="col-xs-4 col-sm-4 col-md-4">
						<%= image_tag "Pediatria2.jpg", class: 'img-circle img-responsive'%>
						<h3><em><strong>Pediatría</strong></em></h3>
						<p class="scrollflow -slide-left -opacity">
							Especializados en la salud y enfermedades de niños, centrados desde el momento de su nacimiento hasta la adolescencia.
						</p>
					</div>
					
									
				</div>	
			</div>
	</section>

</body>