<h1>Pacientes en la base de datos</h1>
<div>
	<%= @mostrarP.primerN %>
	<%= @mostrarP.segundoN %>
	<%= @mostrarP.primerA %>
	<%= @mostrarP.segundoA %>
	<%= @mostrarP.edad %>
	<%= @mostrarP.direccion %>
	<%= @mostrarP.telefono %>
</div>